<div class="w-100 h-100 bg-secondary">
    @if (showForgotPassword) {
        <div class="position-fixed vw-100 vh-100 top-0 shadow-sm" style="background-color: #7f7f7f7f; z-index: 2;">
            <div class="card card-body text-center start-50 translate-middle-x" style="width: 350px; margin-top: 100px;">
                <span class="btn btn-close position-absolute top-0 end-0 m-1" id="close-btn" (click)="showForgotPassword = false"></span>
                <h3 class="fw-bold">Quên mật khẩu</h3>
                <p>Đừng lo lắng, hãy nhập email tài khoản của bạn để tạo mật khẩu mới!</p>
                
                <form class="mt-1" (ngSubmit)="forgotPassword()">
    
                    <!-- Email -->
                    <div class="position-relative">
                        <input type="email" class="form-control" placeholder="Email" name="email" autocomplete="off" 
                            [(ngModel)]="emailInput.value" 
                            [ngClass]="{'invalid-border': !emailInput.valid}"
                            (focus)="emailInput.focus = true" (blur)="emailInput.focus = false"
                            (input)="emailInput.listener.next(emailInput.value); emailInput.valid = true;">
                        @if (!emailInput.valid && emailInput.focus) {
                            <small id="invalidEmailMessage" class="shadow-sm position-absolute py-1 w-100 start-0 bottom-100 bg-white invalid-mess">
                                Định đạng email không hợp lệ
                            </small>
                        }
                    </div>
    
                    <button type="submit" (click)="forgotPassword()" [disabled]="!emailInput.valid" class="btn btn-outline-success mt-3 form-control">Gửi</button>
                </form>
            </div>
        </div>
    }
    
    @if (showResetPassword) {
        <div class="position-fixed vw-100 vh-100 top-0 shadow-sm" style="background-color: #7f7f7f7f; z-index: 2;">
            <div class="card card-body text-center start-50 translate-middle-x" style="width: 350px; margin-top: 100px;">
                <span class="btn btn-close position-absolute top-0 end-0 m-1" id="close-btn" (click)="showForgotPassword = false"></span>
                <h3 class="fw-bold">Đặt lại mật khẩu</h3>
                <p>Vui lòng nhập mật khẩu mới của bạn!</p>
                
                <form class="mt-1" (ngSubmit)="forgotPassword()">
    
                    <!-- Password -->
                    <div class="position-relative">
                        <input type="password" class="form-control" placeholder="Mật khẩu" name="pass" autocomplete="off" 
                            [(ngModel)]="passInput.value" 
                            [ngClass]="{'invalid-border': !passInput.valid}"
                            (focus)="passInput.focus = true" (blur)="passInput.focus = false"
                            (input)="passInput.listener.next(passInput.value); passInput.valid = true;">
                        @if (!passInput.valid && passInput.focus) {
                            <small class="shadow-sm position-absolute py-1 w-100 start-0 bottom-100 bg-white invalid-mess">
                                Mật khẩu (8-16 kí tự) phải chứa kí tự in thường, in hoa, chữ số và kí tự đặc biệt (.&#64;!#*)
                            </small>
                        }
                    </div>
    
                    <!-- Confirm password -->
                    <div class="position-relative mt-2">
                        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" name="confirmPass" autocomplete="off" 
                            [(ngModel)]="confirmPassInput.value" 
                            [ngClass]="{'invalid-border': !confirmPassInput.valid}"
                            (focus)="confirmPassInput.focus = true" (blur)="confirmPassInput.focus = false"
                            (input)="confirmPassInput.listener.next(confirmPassInput.value); confirmPassInput.valid = true;">
                        @if (!confirmPassInput.valid && confirmPassInput.focus) {
                            <small class="shadow-sm position-absolute py-1 w-100 start-0 bottom-100 bg-white invalid-mess">
                                Mật khẩu xác nhận không khớp
                            </small>
                        }
                    </div>
    
                    <button type="submit" (click)="resetPassword()" [disabled]="!confirmPassInput.valid || !passInput.valid" class="btn btn-outline-success mt-3 form-control">Gửi</button>
                </form>
            </div>
        </div>
    }
</div>

