<div class="p-3">
    <!-- Function -->
    <div class="d-flex mb-3 small-size justify-items-center" style="height: 26px;">
        <!-- Upload btn -->
        <button class="btn btn-sm btn-outline-dark" [routerLink]="['create']">
            <i class='bx bx-upload pt-1 fw-bold'></i> Tải lên tài liệu mới
        </button>

        <!-- Management -->
        <button class="btn btn-sm btn-outline-dark ms-2" [routerLink]="['my-documents']">
            <i class='bx bxs-bar-chart-alt-2 pt-1 fw-bold'></i> Đã tải lên
        </button>

        <div class="flex-fill"></div>
        <!-- Search by name -->
        @if(searchingData.name) {
            <div class="d-flex align-items-center me-2 cancel-btn" (click)="searchingData.name = ''; search()">
                <i class='bx bx-x fw-bolder fs-4'></i>
                <span class="">Hủy tìm kiếm</span>
            </div>
        }
        <input type="text" class="form-control w-auto" placeholder="Tìm kiếm theo tên" [(ngModel)]="searchingData.name">
        <button class="btn btn-outline-dark px-2 ms-1 me-3" (click)="searchingData.pageIndex= 1; search()">
            <i class='bx bx-search fs-6'></i>
        </button>

        <!-- Cate -->
        <h6 class="mt-1 me-1">Danh mục</h6>
        <select class="form-select w-auto py-0" [(ngModel)]="searchingData.categorySlug" (change)="search()">
            <option value="">Tất cả</option>
            @for (item of categories; track $index) {
                <option [value]="item.slug" [title]="item.description">{{item.name}}</option>
            }
        </select>

        <!-- Paging -->
        <div class="btn-group ms-3" style="width: auto;">
            <button class="btn btn-sm btn-outline-secondary"
            [disabled]="searchingData.pageIndex <= 1"
            (click)="searchingData.pageIndex = searchingData.pageIndex - 1; search()">
                <i class='bx bxs-chevrons-left py-1'></i>
            </button>

            <button class="btn btn-sm btn-outline-secondary">
            Trang {{searchingData.pageIndex}}/{{searchingData.totalPage}}</button>

            <button class="btn btn-sm btn-outline-secondary"
            [disabled]="searchingData.pageIndex >= searchingData.totalPage"
            (click)="searchingData.pageIndex = searchingData.pageIndex + 1; search()">
                <i class='bx bxs-chevrons-right py-1'></i>
            </button>
        </div>
    </div>

    <!-- Document list -->
    <div class="card card-body mt-2 pt-2">
        <div class="row">
            @for (item of data; track $index) {
                <div class="col-3 p-1">
                    <div class="d-flex flex-column position-relative list-item" [title]="item.name">
                        <img [src]="item.imageUrl || defaultImageUrl" alt="" class="test-img">

                        <!-- Name -->
                        <div class="mt-1 text-ellipsis-1lines">
                            <a class="fs-6 fw-bold text-decoration-none text-dark">{{item.name}}</a>
                        </div>

                        <!-- Author and time -->
                        <div class="d-flex flex-row">
                            <small class="text-secondary " style="opacity: 0.6;">Người đăng</small>
                            <small class="ms-1 underline-when-hover" (click)="showAuthorInfo(item.authorId)">{{item.authorName}}</small>
                            <div class="flex-fill"></div>
                            <small class="fst-italic" style="opacity: 0.5;">{{dateFormatter(item.updatedAt)}}</small>
                        </div>

                        <!-- Type -->
                        <div class="d-flex flex-row">
                            <small class="text-secondary " style="opacity: 0.6;">Loại tài liệu: </small>
                            <small class="fw-bold ms-2">{{item.documentType}}</small>
                        </div>

                        <!-- Price -->
                        @if(item.originPrice != 0) {
                            <div class="d-flex flex-row mt-1 align-items-center">
                                <div class="text-secondary" style="opacity: 0.6;">Giá</div>
                                <div class="ms-1 fw-bold" [ngClass]="{'discount': item.lastPrice != item.originPrice}">{{priceFormatter(item.originPrice)}}</div>
                                @if(item.lastPrice != item.originPrice) {
                                    <div class="ms-1 fw-bold">{{priceFormatter(item.lastPrice)}}</div>
                                }
                                <small class="ms-1">VNĐ</small>
                                <div class="flex-fill"></div>
                                <button class="btn btn-sm btn-dark px-4" (click)="getDetail(item)">Mua</button>
                            </div>
                        }
                        @else {
                            <div class="d-flex flex-row mt-1 align-items-center">
                                <div class="text-secondary" style="opacity: 0.6;">Giá:</div>
                                <div class="ms-1 fw-bold">Miễn phí</div>
                                <div class="flex-fill"></div>
                                <button class="btn btn-sm btn-dark px-4" (click)="getDetail(item)">Xem</button>
                            </div>
                        }

                        <!-- Download count -->
                        <div class="position-absolute d-flex top-0 end-0 m-3 align-items-center px-1 shadow-sm"
                        style="background-color: rgba(239, 239, 239, 0.859);">
                            <small>{{item.downloadedCount}}</small>
                            <i class='bx bxs-download'></i>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if(infoDialog.show) {
    <div class="position-absolute w-100 h-100 top-0 start-0" style="background-color: rgba(128, 128, 128, 0.502);">
        <div class="card card-body position-absolute start-50 translate-middle-x p-2" style="width: 800px; margin-top: 30px;">
            <button class="btn btn-close position-absolute end-0 top-0 m-1" (click)="infoDialog.show = false"></button>
            <h6 class="fw-bold text-center">Thông tin chi tiết</h6>

            <div class="ps-4 mt-3" style="max-height: 600px; overflow-y: auto">
                <div class="row m-0">
                    <!-- Name -->
                    <label for="" class="col-3 text-secondary">Tên tài liệu:</label>
                    <h6 class="col-8 fw-bolder">{{infoDialog.data!.name}}</h6>

                    <!-- Author -->
                    <label for="" class="col-3 text-secondary">Người đăng:</label>
                    <h6 class="col-8 underline-when-hover" (click)="showAuthorInfo(infoDialog.data!.authorId)">{{infoDialog.data!.authorName}}</h6>

                    <!-- Cập nhật -->
                    <label for="" class="col-3 text-secondary">Cập nhật:</label>
                    <h6 class="col-8 text-secondary fw-light fst-italic">{{dateFormatter(infoDialog.data!.updatedAt)}}</h6>

                    <!-- Type -->
                    <label for="" class="col-3 text-secondary">Loại tài liệu:</label>
                    <h6 class="col-8 fw-bolder">{{infoDialog.data!.documentType}}</h6>

                    <!-- Size -->
                    <label for="" class="col-3 text-secondary">Kích thước:</label>
                    <h6 class="col-8 fw-bolder">{{sizeFormatter(infoDialog.size)}}</h6>

                    <!-- Description -->
                    <label for="" class="col-3 text-secondary">Mô tả:</label>
                    <h6 class="col-8 ">{{infoDialog.desc}}</h6>

                    <!-- Preview images -->
                    <div class="m-0 mt-2">
                        <div id="preview" class="carousel slide pointer-event me-2" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                @for (item of infoDialog.images; track $index) {
                                    <button type="button" data-bs-target="#preview" [attr.data-bs-slide-to]="$index" [ngClass]="{'active': $index == 0}"></button>
                                }
                            </div>
                            <div class="carousel-inner">
                                @for (item of infoDialog.images; track $index) {
                                    <div class="carousel-item" [ngClass]="{'active': $index == 0}">
                                        <img class="d-block w-100" [src]="item" style="object-fit: cover; height: 300px;">
                                    </div>
                                }
                            </div>
                            <a class="position-absolute translate-middle-y top-50" href="#preview" role="button" data-bs-slide="prev">
                                <i class='bx bx-chevron-left fs-1 py-5 toggle-btn ms-3'></i>
                            </a>
                            <a class="position-absolute translate-middle-y top-50 end-0" href="#preview" role="button" data-bs-slide="next">
                                <i class='bx bx-chevron-right fs-1 py-5 toggle-btn me-3'></i>
                            </a>
                        </div>
                    </div>

                    
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-sm btn-outline-dark p-0 px-3 mt-3 mb-2" (click)="download(infoDialog.data!)"><i class='bx bxs-download mt-1'></i> Tải xuống</button>
                </div>
            </div>
            

        </div>
    </div>
}
