<div class="vh-100 vw-100 top-0 bg-dark position-fixed align-content-center"
style="z-index: 101;">
    <div class="container" >
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2 col-12">
                <div class="card shadow-sm" style="transform: translateY(-20%);">
                    <app-loading [show]="isSubmitting"></app-loading>
                    <div class="card-header text-center fs-3 fw-bold">
                        Đăng nhập
                    </div>
                    <div class="card-body mt-4">
                        <p class="text-end">
                            <a href="#">Quên mật khẩu ?</a>
                        </p>

                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <fieldset [disabled]="isSubmitting">
                                <fieldset class="form-group">
                                    <input #input_email formControlName="email" type="email" placeholder="Nhập email"
                                        class="form-control fs-5 fw-medium">
                                    <small class="text-danger">{{emailError()}}</small>
                                </fieldset>

                                <fieldset class="form-group mt-2">
                                    <div class="input-group">
                                        <input 
                                            formControlName="password" 
                                            [type]="showPass? 'text': 'password'" 
                                            placeholder="Nhập mật khẩu"
                                            class="form-control fs-5 fw-medium"
                                            aria-describedby="showPass">
                                        <i 
                                            (click)="showPass = !showPass" 
                                            class='btn btn-outline-dark fs-5 bx bx-show' 
                                            [ngClass]="{'bx-show': !showPass, 'bx-hide': showPass}" id="showPass">
                                        </i>
                                    </div>
                                    <small class="text-danger">{{passError()}}</small>
                                </fieldset>
                                
                                <label for="remember-me" class="fw-lighter ms-1 small mt-2">
                                    <input 
                                        formControlName="remember" 
                                        class="form-check-label" 
                                        type="checkbox">
                                    Ghi nhớ đăng nhập
                                </label>
                                <!-- <app-list-errors [errors]="form.controls['email'].errors"></app-list-errors> -->
                                <button [disabled]="form.invalid && (form.touched || form.dirty)" 
                                    type="submit"
                                    class="btn btn-success pull-xs-right form-control mt-4">
                                    Đăng nhập
                                </button>
                            </fieldset>
                        </form>

                        <p class="text-center mt-2">
                            <span>Chưa có tài khoản? </span>
                            <a href="user/register">Tạo tài khoản</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>