<div class="container-fluid container-lg" style="margin-top: 18%;">
    <div class="row">
        <div class="col-12">
            <h2>ZG04 WEB - Ver 1.0.0 - bản thử nghiệm</h2>
            <div class="d-flex flex-column mt-5">
                <h4 class="fw-light fs-5 text-dark">Website này được tạo bởi zg04, mọi thắc mắc, vấn đề vui lòng liên hệ:</h4>
                <h4><b>Gmail: </b>zg04ckpt.web@gmail.com</h4>
                <h4><b>Facebook: </b>
                    <a href="https://www.facebook.com/iuz.ckpt">https://www.facebook.com/iuz.ckpt</a>
                </h4>
            </div>
        </div>
    </div>
</div>
