# .NET
**/appsettings.Production.json
**/obj
**/bin
**/script.sql
**/.vs
**/*.log
**/*.sql
**/Logs

# Web
**/environment.pro.ts
**/node_modules
**/dist
**/.vscode
**/.angular

#other
docker-compose.yaml
docker-compose.prod.yaml
.github
.vs
