<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">

    <!--Left menu-->
    <app-menu/>

    <div class="layout-page">

      <!--Navbar ~ search -->
      <app-navbar/>

      <div class="content-wrapper">

        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">
            <div class="col-lg-12 mb-4 order-0">
              
              <router-outlet/>

            </div>
          </div>
        </div>

        <!--footer-->
        <app-footer/>

      </div>
    </div>
  </div>
</div>

