<div class="row mt-5">
    <div class="col-lg-10 offset-lg-1">
        <!-- Top action -->
        <div class="d-flex mb-2">
            <button class="btn btn-sm btn-outline-secondary px-3"
            onclick="window.location.href='/tests'">
                Quay lại
            </button>

            <button class="btn btn-sm btn-outline-dark ms-2"
            [routerLink]="['/tests', 'create']">
                Tạo đề mới
            </button>
        </div>

        <!-- Content -->
        <div class="card card-body">
            <!-- Tab headers -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#created"
                    (click)="showCreatedTests()">
                        Đề đã tạo
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#saved"
                    (click)="showSavedTests()">
                        Đề đã lưu
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#history"
                    (click)="showTestResults()">
                        Lịch sử làm đề
                    </button>
                </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content">
                <!-- 1. Tests of user -->
                <div class="tab-pane fade active show" id="created" role="tabpanel">
                    <div class="d-flex mt-3 flex-row justify-content-between">
                        <div>
                            <label style="font-size: 14px;">Sắp xếp theo:</label>
                            <select #sortOption (change)="sort(sortOption.value)" class="flex-fill ms-1" style="font-size: 14px;">
                                <option value="byName" selected>Tên</option>
                                <option value="byCreatedDate">Ngày tạo</option>
                                <option value="byNumOfAttempts">Số lượt làm</option>
                            </select>
                        </div>
                    </div>
                    <div class="mt-3 mx-2">
                        <div class="row">

                            @for (item of list1; track $index) {
                                <div class="col-lg-6">
                                    <div class="card card-body d-flex flex-row p-2 test mb-3">
                                        <img [src]="item.imageUrl || defaultImageUrl" alt="" width="50px" height="50px" style="object-fit: cover;">
                                        <div class="d-flex flex-column ms-2 flex-fill">
                                            <h6 class="fs-6 fw-bold mt-1">{{item.name}}</h6>
                                            <div class="d-flex flex-row justify-content-between">
                                                <small class="fw-medium text-secondary">Ngày tạo: {{item.createdDate}}</small>
                                                <small class="fw-medium text-secondary">Số lượt làm: {{item.numberOfAttempts}}</small>
                                            </div>
                                        </div>
                                        <span class="position-absolute top-0 end-0 mt-1">
                                            <i class='bx bx-dots-vertical fw-lighter fs-5' data-bs-toggle="dropdown"></i>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item btn" (click)="navigate(item.id)">Chi tiết</a>
                                                <a class="dropdown-item btn" [routerLink]="['/tests/update', item.id.toLowerCase()]">Cập nhật</a>
                                                <a class="dropdown-item btn" (click)="deleteTest(item.id)">Xóa</a>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- 2. saved -->
                <div class="tab-pane fade" id="saved" role="tabpanel">
                    <div class="mt-3 mx-2">
                        <div class="row">

                            @for (item of list2; track $index) {
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <div class="card card-body d-flex flex-row p-2 test mb-3">
                                            <img [src]="item.imageUrl || defaultImageUrl" alt="" width="50px" height="50px" style="object-fit: cover;">
                                            <div class="d-flex flex-column ms-2 flex-fill">
                                                <h6 class="fs-6 fw-bold mt-1">{{item.name}}</h6>
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small class="fw-medium text-secondary">SL câu hỏi: {{item.numberOfQuestions}}</small>
                                                    <small class="fw-medium text-secondary">Số lượt làm: {{item.numberOfAttempts}}</small>
                                                </div>
                                            </div>
                                            <span class="position-absolute top-0 end-0 mt-1">
                                                @if(item.isPrivate) {
                                                    <i class='bx bxs-lock fs-4'></i>
                                                }
                                                <i class='bx bx-dots-vertical fw-lighter fs-5' data-bs-toggle="dropdown"></i>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item btn" (click)="navigate(item.id)">Chi tiết</a>
                                                    <a class="dropdown-item btn" (click)="removeSavedTest(item.id)">Bỏ lưu</a>
                                                </div>
                                            </span>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- 3. history -->
                <div class="tab-pane fade" id="history" role="tabpanel">
                    <!--action-->
                    <div class="d-flex mt-3 flex-row">
                        <!-- Analysis -->
                        <div class="flex-fill">
                            <button class="btn btn-sm btn-outline-info" title="Chưa code">Phân tích</button>
                        </div>

                        <!-- Download -->
                        <button class="btn btn-sm btn-outline-secondary" title="Chưa code"
                        style="width: 50px;">
                            <i class='bx bxs-download p-1'></i>
                        </button>
                    </div>

                    <table class="mt-2 table" style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Điểm</th>
                                <th>Tên bài TN</th>
                                <th>Ngày làm</th>
                                <th>Thời gian</th>
                                <th>Câu đúng</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (item of list3; track $index) {
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.score}}</td>
                                    <td >
                                        <a class="text-decoration-none" [href]="'/tests/' + item.testId">{{item.testName}}</a>
                                    </td>
                                    <td>{{item.startTime | date: 'dd/MM/yyyy - HH:mm:ss':'+0000'}}</td>
                                    <td>{{timeFormat(item.usedTime)}}</td>
                                    <td>{{item.correct}}</td>
                                    <td> 
                                        <i class='bx bx-dots-vertical-rounded' data-bs-toggle="dropdown"></i>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item btn" style="font-size: 13px;">Chi tiết</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
