.underline-when-hover {
    text-decoration: none;
    cursor: pointer;
}

.underline-when-hover:hover {
    color: aqua;
    text-decoration: underline;
}

.toggle-btn {
    text-decoration: none;
    color: white;
    background-color: gray;
    opacity: 0.3;
}

.toggle-btn:hover {
    opacity: 1;
}

.top1 {
    color: #ffcd06;
}

.top2 {
    color: #1ad392;
}

.top3 {
    color: #d3301a;
}

.test-rank * {
    font-size: 12px;
}

.test-rank th {
    font-size: 10px;
}

.user-rank * {
    font-size: 12px;
}

