<div class="row mt-3" id="test-create-form">
    <div class="col-10 offset-1">
        <div class="card card-body shadow-sm mb-5">
            <h4 class="text-center">Chỉnh sửa đề trắc nghiệm</h4>

            <div class="d-flex justify-content-center mt-2">

                <button class="btn btn-outline-dark btn-sm px-4 mx-1"
                (click)="backToList()"
                >Quay lại danh sách</button>

                <button class="btn btn-outline-success btn-sm px-4 mx-1"
                (click)="saveTest()"
                >Lưu</button>

            </div>

            <div class="row mt-3">
                <div class="col-lg-4">
                    <form>
                        <!--Name-->
                        <div class="mb-3">
                          <label class="form-label">Tên bài test</label>
                          <input type="text" class="form-control" [(ngModel)]="data.name" name="1">
                        </div>

                        <!--Ảnh-->
                        <div class="mb-3">
                          <label class="form-label">Ảnh</label>
                          <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img [src]="testImagePreviewUrl" alt="" height="100" width="100"
                            style="object-fit: cover;">
                            <div class="button-wrapper">
                                <label class="btn btn-secondary btn-sm me-2 mb-2">
                                    <span>Chọn ảnh từ thiết bị</span>
                                    <input type="file" hidden="" accept=".png, .jpg" (change)="uploadTestImage($event)">
                                </label>
                                <p class="text-muted mb-0">Vui lòng chỉ chọn JPG hoặc PNG</p>
                            </div>
                          </div>
                        </div>

                        <!--Description-->
                        <div class="mb-3">
                            <label class="form-label">Mô tả</label>
                            <textarea class="form-control" [(ngModel)]="data.description" name="2"></textarea>
                        </div>

                        <!--Source-->
                        <div class="mb-3">
                            <label class="form-label">Nguồn</label>
                            <input type="text" class="form-control" [(ngModel)]="data.source"  name="3">
                        </div>

                        <!--Time-->
                        <div class="mb-3">
                            <label class="form-label">Thời gian (phút)</label>
                            <input type="number" min="1" class="form-control" [(ngModel)]="data.duration"  name="4">
                        </div>

                        <!--Privacy mode-->
                        <div class="mb-3">
                            <label class="form-label">Chế độ riêng tư</label>
                            <select [(ngModel)]="data.isPrivate" class="form-select" name="5">
                                <option [value]="true">Riêng tư(Chỉ mình tôi)</option>
                                <option [value]="false">Công khai</option>
                            </select>
                        </div>
                      </form>
                </div>

                <div class="col-lg-8">
                    <div class="mb-3 d-flex flex-column">
                        <label class="form-label">Câu hỏi</label>
                        
                        <div class="d-flex align-items-center">
                            <small class="fw-bold me-2 flex-fill">Số lượng: {{data.questions.length}}</small>

                            @if(selectedCount) {
                                <div class="d-flex me-2 ps-2" id="selected">
                                    <span style="font-size: 12px;">Đã chọn {{selectedCount}} câu</span>
                                    <i class='bx bx-x-circle text-danger m-1' (click)="cancelSelectAll()"></i>
                                </div>
                            }

                            <!--Remove button-->
                            @if(selectedCount) {
                                <span class="rounded-btn position-relative me-2"  (click)="removeSelected()">
                                    <i class='bx bx-trash position-absolute top-50 start-50 translate-middle'></i>
                                </span>
                            }
                            

                            <!--Select all question button-->
                            @if(!isSelectedAll) {
                                <span class="rounded-btn position-relative me-2"
                                (click)="selectOrUnselectAll(true);" title="Chọn tất cả">
                                    <span class='position-absolute top-50 start-50 translate-middle'>All</span>
                                </span>
                            }
                            @else {
                                <span class="rounded-btn position-relative me-2"
                                (click)="selectOrUnselectAll(false)" title="Hủy chọn tất cả">
                                    <i class='bx bx-x position-absolute top-50 start-50 translate-middle'></i>
                                </span>
                            }

                            <!--Upload question button-->
                            <label class="btn rounded-btn position-relative me-2" title="Tải câu hỏi từ file excel">
                                <i class='bx bx-arrow-from-bottom position-absolute top-50 start-50 translate-middle'></i>
                                <input type="file" hidden="" accept=".xlsx" (change)="convertExcelFileToData($event)">
                            </label>
                            
                            <span (click)="showAddQuestionModal()" class="rounded-btn position-relative">
                                <i class='bx bx-plus-medical position-absolute top-50 start-50 translate-middle'></i>
                            </span>
                        </div>

                        @for (item of data.questions; track $index) {
                            <div class="d-flex flex-column px-2 pb-4 position-relative"
                            [ngClass]="{'question-selected': questionManager[$index].selected}">

                                <i class='bx bxs-pencil text-secondary 
                                position-absolute edit-btn end-0 top-0 mt-3 me-1'
                                (click)="showEditQuestionModal($index)"></i>

                                <!--Question-->
                                <div class="d-flex align-items-start position-relative pe-3 my-2">
                                    <!--STT-->
                                    <div class="rounded-btn position-relative"
                                    (click)="select($index)"
                                    [ngClass]="{'bg-secondary text-white': questionManager[$index].selected}">
                                        <span class='fw-bold position-absolute top-50 start-50 translate-middle'>{{$index+1}}</span>
                                    </div>

                                    <!--Content-->
                                    <p class="ms-2 me-1">{{item.content}}</p>
                                </div>

                                <!--Image-->
                                @if(item.image) {
                                    <img class="question-image mb-2" [src]="questionManager[$index].previewImageUrl" alt="Lỗi hiển thị ảnh">
                                }
                                
                                <!--Answers-->
                                <div class="input-group mb-2">
                                    <label class="input-group-text border-1"
                                    [ngClass]="{'border-success text-white bg-success': item.correctAnswer == 1}"
                                    >A</label>
                                    <label class="form-control border-success"
                                    [ngClass]="{'border-success': item.correctAnswer == 1}">
                                        {{item.answerA}}
                                    </label>
                                </div>

                                <div class="input-group mb-2">
                                    <label class="input-group-text border-1"
                                    [ngClass]="{'border-success text-white bg-success': item.correctAnswer == 2}"
                                    >B</label>
                                    <label class="form-control border-success"
                                    [ngClass]="{'border-success': item.correctAnswer == 2}">
                                        {{item.answerB}}
                                    </label>
                                </div>

                                @if(item.answerC != null) {
                                    <div class="input-group mb-2">
                                        <label class="input-group-text border-1"
                                        [ngClass]="{'border-success text-white bg-success': item.correctAnswer == 3}"
                                        >C</label>
                                        <label class="form-control border-success"
                                        [ngClass]="{'border-success': item.correctAnswer == 3}">
                                            {{item.answerC}}
                                        </label>
                                    </div>
                                }

                                @if(item.answerD != null) {
                                    <div class="input-group mb-2">
                                        <label class="input-group-text border-1"
                                        [ngClass]="{'border-success text-white bg-success': item.correctAnswer == 4}"
                                        >D</label>
                                        <label class="form-control border-success"
                                        [ngClass]="{'border-success': item.correctAnswer == 4}">
                                            {{item.answerD}}
                                        </label>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Scroll top top-->
<span class="btn p-0 position-fixed end-0 bottom-0 shadow-lg text-center"
id="scrollToTopButton" (click)="scrollToTop()">
    <i class='bx bx-up-arrow-alt fs-2 fw-bold mt-1'></i>
</span>

<!--Edit modal-->
@if(editQuestion != null) {
    <div class="position-fixed overflow-auto col-10 col-lg-6 shadow-lg start-50 top-0 translate-middle-x card card-body pt-2"
    style="margin-top: 80px; height: 80vh; z-index: 3;">
        <div class="d-flex flex-column">
            @if(isAdding) {
                <label class="text-center fw-bold">Thêm câu hỏi</label>
            }
            @else {
                <label class="text-center fw-bold">Chỉnh sửa câu hỏi</label>
            }
            <div class="d-flex flex-row mt-2">
                @if(isAdding) {
                    <button class="btn btn-outline-success btn-sm me-2"
                    (click)="addQuestionToData()"
                    >Thêm</button>
                }
                @else {
                    <button class="btn btn-outline-success btn-sm me-2"
                    (click)="updateQuestionToData()"
                    >Cập nhật</button>
                }
                <button class="btn btn-close position-absolute top-0 end-0 m-1" 
                (click)="editQuestion = null"></button>

                @if(editQuestion.answerC == null || editQuestion.answerD == null) {
                    <button class="btn btn-outline-info btn-sm me-2" 
                    (click)="addAnswerInEditQuestion()">Thêm câu trả lời</button>
                }
                @if(imagePreview.hidden == true) {
                    <button class="btn btn-outline-dark btn-sm" 
                    (click)="imagePreview.hidden = false;">
                        Thêm ảnh
                    </button>
                }
            </div>
    
            <!--Content-->
            <textarea class="form-control mt-2" placeholder="Nội dung câu hỏi..."
            [(ngModel)]="editQuestion.content"></textarea>
    
            <!--Image-->
            <div #imagePreview [hidden]="questionImagePreviewUrl == null" class="card card-body mt-2 position-relative">
                <img [src]="questionImagePreviewUrl" alt="" class="question-image">
                <label class="btn-sm position-absolute top-50 start-50 translate-middle btn btn-outline-secondary">
                    <span>Chọn ảnh từ thiết bị</span>
                    <input type="file" hidden="" accept=".png, .jpg" (change)="uploadQuestionImage($event)">
                </label>
                <button class="btn btn-close position-absolute end-0 top-0 m-1" 
                (click)="imagePreview.hidden = true; editQuestion.image = null"></button>
            </div>
            
            <!--Answer-->
            <div class="input-group mt-2">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="radio" name="A"
                    [(ngModel)]="editQuestion.correctAnswer" value="1">
                    <span class="ms-2">A</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="editQuestion.answerA">
            </div>
    
            <div class="input-group mt-2">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="radio" name="B"
                    [(ngModel)]="editQuestion.correctAnswer" value="2">
                    <span class="ms-2">B</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="editQuestion.answerB">
            </div>
    
            @if(editQuestion.answerC != null) {
                <div class="input-group mt-2 position-relative">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="radio" name="C"
                        [(ngModel)]="editQuestion.correctAnswer" value="3">
                        <span class="ms-2">C</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="editQuestion.answerC">
                    <span class="position-absolute end-0 top-50 translate-middle-y"
                    (click)="editQuestion.answerC = null; editQuestion.correctAnswer = 0">
                        <i class='bx bx-x fw-bold fs-3 m-1'></i>
                    </span>
                </div>
            }
    
            @if(editQuestion.answerD != null) {
                <div class="input-group mt-2 position-relative">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="radio" name="D"
                        [(ngModel)]="editQuestion.correctAnswer" value="4">
                        <span class="ms-2">D</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="editQuestion.answerD">
                    <span class="position-absolute end-0 top-50 translate-middle-y"
                    (click)="editQuestion.answerD = null; editQuestion.correctAnswer = 0">
                        <i class='bx bx-x fw-bold fs-3 m-1'></i>
                    </span>
                </div>
            }
        </div>
    </div>
}
