<div *ngIf="data.show" class="position-fixed vh-100 vw-100 top-0 start-0" style="z-index: 101; background: #b1b1b16e;">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-10 offset-1">
            <div class="card" style="margin-top: 30%;">
                <div class="card-header d-flex justify-content-between fw-bold">
                    {{data.title}}
                    <button class="btn btn-close" (click)="data.show = false"></button>
                </div>
                <div class="card-body" [innerHTML]="data.msg">
                </div>
                <div class="card-footer d-flex justify-content-center">
                    @for (btn of data.acts; track $index) {
                        <button class="btn btn-outline-info btn-sm mx-1" (click)="btn.act(); data.show= false">{{btn.label}}</button>
                    }
                    <button class="btn btn-outline-danger btn-sm mx-1" (click)="data.show = false">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
