.question-image {
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.question-selected {
    border-left: 4px rgb(5, 200, 244) solid;
    border-right: 4px rgb(5, 200, 244) solid;
}

.rounded-btn {
    width: 36px;
    height: 36px;
    border: 1px rgb(80, 79, 79) solid;
    border-radius: 50%;
    flex-shrink: 0;
}

.rounded-btn:hover {
    cursor: pointer;
    transform: translateY(-3%);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.no-edit {
    pointer-events: none;
}

.edit-icon {
    border-radius: 50%;
    padding: 2px;
}

.edit-icon:hover {
    cursor: pointer;
    background-color: rgb(153, 179, 179);
    color: white;
}

.edit-btn {
    border-radius: 2px;
    z-index: 2;
}

.edit-btn:hover {
    border: 1px grey solid; 
    color: black;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

#scrollToTopButton {
    margin: 50px; 
    border: 3px gray solid; 
    width: 42px; 
    height: 42px; 
    border-radius: 50%;
    z-index: 3;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0);
}

#selected {
    border-radius: 18px;
    border: 1px rgb(164, 164, 164) solid;
    align-items: center;
}

#selected:hover {
    transform: translateY(-3%);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

#selected i:hover {
    cursor: pointer;
}