#sidebar-menu li a{
    color: white;
}

#sidebar-menu li :hover {
    background-color: yellow;
    color: black;
}

#toggle-btn {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100px;
    z-index: 102;
}

#toggle-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}