
    <div class="d-flex flex-column position-absolute top-50 start-50 translate-middle"
    style="z-index: 4;">
        <span style="font-size: 180px; font-weight: 600;">404</span>
        <p class="text-center pt-0" style="font-size: 30px;">Page Not Found</p>
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-secondary mx-1 btn-sm rounded-0"
            (click)="back()">Quay lại</button>
            <button class="btn btn-outline-dark mx-1 btn-sm rounded-0"
            (click)="goToHome()">Trang chủ</button>
        </div>
    </div>
