<div class="position-fixed vh-100 vw-100 bg-secondary"
style="z-index: 101;">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            @if(!isSending) {
                <div class="card mt-5 mx-3 mx-lg-0">
                    <div class="card-body text-center">
                        @if (isSuccess) {
                            <i class='bx bxs-check-circle text-success fs-1 my-3'></i>
                            <h2 class="fw-light">Email đã được xác thực</h2>
                            <small class="fw-bold">Cảm ơn bạn đã đăng kí tài khoản tại ZLEARN</small>
                            <div class="d-flex justify-content-center mt-4">
                                <button class="btn btn-outline-dark mx-1" (click)="showLogin()">Đăng nhập</button>
                                <button class="btn btn-outline-dark mx-1" (click)="navigate('')">Trang chủ</button>
                            </div>
                        }
                        @else {
                            <i class='bx bxs-error-circle text-danger fs-1 my-3'></i>
                            <h2 class="fw-light">Lỗi xác thực email</h2>
                            <small class="fw-bold">Chi tiết lỗi: {{error}}</small>
                            <div class="d-flex justify-content-center mt-4">
                                <button class="btn btn-outline-dark mx-1" (click)="navigate('contact')">Báo cáo lỗi</button>
                                <button class="btn btn-outline-dark mx-1" (click)="navigate('')">Trang chủ</button>
                            </div>
                        }
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>