@if (show) {
    <div class="position-fixed vw-100 vh-100 top-0 shadow-sm" style="background-color: #7f7f7f7f; z-index: 2;">
        <div class="card card-body text-center start-50 translate-middle-x" style="width: 400px; margin-top: 100px;">
            <span class="btn btn-close position-absolute top-0 end-0 m-1" id="close-btn" (click)="show = false"></span>
            <h3 class="fw-bold">Đăng nhập</h3>
            <p>Chào mừng bạn quay trở lại ZLEARN!</p>
            <a class="mt-3 text-end text-decoration-none link-info" style="cursor: pointer;">Quên mật khẩu?</a>
            
            <form [formGroup]="form" class="mt-1" (ngSubmit)="login()">

                <fieldset class="position-relative">
                    <input 
                        type="email" formControlName="email" 
                        (focus)="showEmailError = true" (blur)="showEmailError = false" 
                        class="form-control" placeholder="Email"
                        [ngClass]="(form.touched && emailInvalidMessage())? 'border-danger':''">
                    @if(showEmailError && emailInvalidMessage()) {
                        <small class="position-absolute shadow-sm invalid-mess bottom-100 text-danger py-1">
                            {{emailInvalidMessage()}}
                        </small>
                    }
                </fieldset>

                <fieldset class="position-relative mt-2">
                    <input type="password" formControlName="password" 
                        (focus)="showPasswordError = true" (blur)="showPasswordError = false"
                        class="form-control" placeholder="Mật khẩu"
                        [ngClass]="(form.touched && passwordInvalidMessage())?  'border-danger':''">
                    @if(showPasswordError && passwordInvalidMessage()) {
                        <small class="position-absolute shadow-sm invalid-mess bottom-100 text-danger py-1">
                            {{passwordInvalidMessage()}}
                        </small>
                    }
                </fieldset>
                
                <div class="form-check mt-2">
                    <input type="checkbox" class="form-check-input" formControlName="remember">
                    <label for="" class="form-check-label float-start">Ghi nhớ đăng nhập</label>
                </div>

                <button type="submit" [disabled]="emailInvalidMessage() || passwordInvalidMessage()" class="btn btn-outline-success mt-3 form-control" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">Đăng nhập</button>
            </form>
            
            <p class="text-center mt-2">
                <span>Chưa có tài khoản? </span>
                <a class="text-decoration-none link-info" (click)="redirectToRegister()" style="cursor: pointer;">Tạo tài khoản</a>
            </p>
        </div>
    </div>
}
