<div class="row">
    <div class="col vh-75 d-flex justify-content-center align-items-center">
        <!-- Register -->
    <div class="card" style="width: 400px;">
        <div class="card-body">
          <h4 class="mb-2 text-center fw-bold mt-2">Đăng nhập vào ZG04 👋</h4>

          <form id="formAuthentication" class="mb-3 mt-5" action="index.html">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email-username" placeholder="Enter your email or username" autofocus="">
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Mật khẩu</label>
                <a href="auth-forgot-password-basic.html">
                  <small>Quên mật khẩu?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="Mật khẩu">
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me">
                <label class="form-check-label" for="remember-me"> Ghi nhớ đăng nhập </label>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Đăng nhập</button>
            </div>
          </form>

          <p class="text-center">
            <span>Chưa có tài khoản?</span>
            <a href="#">
              <span> Đăng kí tài khoản</span>
            </a>
          </p>
        </div>
    </div>
    <!-- /Register -->
    </div>
    
</div>