<div class="vh-100 vw-100 top-0 bg-dark position-fixed align-content-center"
style="z-index: 101;">
    <div class="container" style="transform: translateY(-20%);">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2 col-12">
                <div class="card shadow-sm">
                    <app-loading [show]='isSubmitting'></app-loading>
                    <div class="card-header text-center fs-3 fw-bold">
                        Đăng kí
                    </div>
                    <div class="card-body mt-4">

                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <fieldset [disabled]="isSubmitting">
                                <fieldset class="form-group">
                                    <input #input_email formControlName="email" type="email" placeholder="Nhập email"
                                        class="form-control fs-5 fw-medium">
                                    <small class="text-danger">{{emailError()}}</small>
                                </fieldset>

                                <fieldset class="form-group mt-3">
                                    <div class="input-group">
                                        <input 
                                            formControlName="password" 
                                            [type]="showPass? 'text': 'password'" 
                                            placeholder="Nhập mật khẩu"
                                            class="form-control fs-5 fw-medium"
                                            aria-describedby="showPass">
                                        <i 
                                            (click)="showPass = !showPass" 
                                            class='btn btn-outline-dark fs-5 bx bx-show' 
                                            [ngClass]="{'bx-show': !showPass, 'bx-hide': showPass}" id="showPass">
                                        </i>
                                    </div>
                                    <small class="text-danger">{{passError()}}</small>
                                </fieldset>

                                <fieldset class="form-group mt-3">
                                    <div class="input-group">
                                        <input 
                                            formControlName="confirmPassword" 
                                            [type]="showConfirmPass? 'text': 'password'" 
                                            placeholder="Xác nhận mật khẩu"
                                            class="form-control fs-5 fw-medium"
                                            aria-describedby="showPass"
                                            style="input[type=password]::-ms-reveal,
                                            input[type=password]::-ms-clear
                                            {
                                                display: none;
                                            }">
                                        <i 
                                            (click)="showConfirmPass = !showConfirmPass" 
                                            class='btn btn-outline-dark fs-5 bx bx-show' 
                                            [ngClass]="{'bx-show': !showConfirmPass, 'bx-hide': showConfirmPass}" id="showPass">
                                        </i>
                                    </div>
                                    <small class="text-danger">{{confirmPassError()}}</small>
                                </fieldset>
                                
                                <button 
                                    [disabled]="!form.valid || form.controls.password.value!=form.controls.confirmPassword.value"
                                    type="submit"
                                    class="btn btn-success pull-xs-right form-control mt-5">
                                    Đăng kí
                                </button>
                            </fieldset>
                        </form>
                        <p class="text-center mt-2">
                            <span>Đã có tài khoản? </span>
                            <a href="user/login">Đăng nhập</a>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>