@if(data) {
    <div class="row mt-3">
        <div class="col-lg-9">

            <div class="d-flex ms-3 mb-2">
                <button class="btn btn-sm btn-outline-secondary"
                (click)="back()"
                >Quay lại</button>
            </div>

            <div class="card card-body ms-3">
    
                <h5 class="">
                    <i class='bx bx-label fw-bold'></i>
                    Chi tiết
                </h5>
    
                <div class="d-flex mt-3">
                    <img [src]="data!.imageUrl" alt="" width="150px" height="200px"
                    style="object-fit: cover;">
                    <div class="d-flex flex-column ms-3 w-100">
    
                        <div class="row">
                            <div class="col-2 fw-light">Tên:</div>
                            <div class="col-10"><b>{{data!.name}}</b></div>
                        </div>
    
                        <div class="row mt-1">
                            <div class="col-2">Người đăng:</div>
                            <div class="col-10"><b>{{data!.authorName}}</b></div>
                        </div>
    
                        <div class="row mt-1">
                            <div class="col-2">Cập nhật:</div>
                            <div class="col-10"><b>{{data!.updatedDate}}</b></div>
                        </div>
    
                        <div class="row mt-1">
                            <div class="col-2">Số câu:</div>
                            <div class="col-10"><b>{{data!.numberOfQuestions}}</b></div>
                        </div>
    
                        <div class="row mt-1">
                            <div class="col-2">Lượt làm:</div>
                            <div class="col-10"><b>{{data!.numberOfAttempts}}</b></div>
                        </div>
    
                        <div class="row mt-1">
                            <div class="col-2">Nguồn:</div>
                            <div class="col-10"><b>{{data!.source}}</b></div>
                        </div>
    
                        <div class="row mt-1">
                            <div class="col-2">Danh mục:</div>
                            <div class="col-10"><b>Chưa code</b></div>
                        </div>
    
                    </div>
                </div>
    
                <div class="d-flex flex-row-reverse mt-3">
                    
                    @if(checkPrivacy()) {
                        <a class="btn btn-outline-success btn-sm"
                        [routerLink]="['/tests', data!.id, mode]">
                            Bắt đầu
                        </a>

                        <div class="align-content-center me-3">
                            <label class="me-1">Chế độ</label>
                            <select [(ngModel)]="mode" class="rounded-0 p-1">
                                <option value="practice">Luyện tập</option>
                                <option value="testing">Thi</option>
                            </select>
                        </div>    
                    } @else {
                        <button class="btn btn-outline-success btn-sm" title="Chưa code">
                            Gửi yêu cầu truy cập
                        </button>
                    }
                </div>
                
                @if(!isSaved) {
                    <button class="position-absolute top-0 end-0 btn btn-outline-secondary btn-sm rounded-0 m-3"
                    (click)="saveThisTest()">
                        <i class='bx bx-bookmark fw-lighter'></i>
                        Lưu
                    </button>
                } @else {
                    <label class="position-absolute top-0 end-0 m-3 align-content-center">
                        <i class='bx bxs-bookmark text-warning fs-5'></i>
                        Đã lưu
                    </label>
                }
            </div>
        </div>
    
        <div class="col-lg-3">
            <div class="card me-3" style="height: 500px;">
                <span class="position-absolute top-0 end-0 m-2" (click)="add_comment.hidden = false" id="add">
                    <i class='bx bx-plus-medical' ></i>
                </span>
                <div class="card-header text-center">Bình luận</div>
                <div class="card-body">
    
                    <!--Add comment-->
                    <div #add_comment hidden="" class="mb-3">
                        <textarea type="text" class="form-control border-2 border-secondary overflow-hidden" placeholder="Bình luận ..."
                        style="font-size: 14px;"></textarea>
                        <div class="d-flex flex-row-reverse mt-1">
                            <button class="btn btn-sm btn-success rounded-0 py-0 shadow-sm" style="font-size: 12px;">Gửi</button>
                            <button class="btn btn-sm btn-danger rounded-0 py-0 me-1 shadow-sm" style="font-size: 12px;"
                            (click)="add_comment.hidden = true">Hủy</button>
                        </div>
                    </div>
    
                    <!--Comment-->
                    <div class="card card-body px-2 py-1 mb-2">
                        <div class="d-flex mb-1">
                            <img src="" alt="" class="avt mt-1">
                            <div class="d-flex flex-column ms-2">
                                <small class="fw-bold align-text-top">Tên người dùng</small>
                                <p class="mb-1" style="font-size: 14px;">Đề như con cặc, mẹ toàn bị sai làm cái éo gì ??!!</p>
                            </div>
                        </div>
    
                        <div class="d-flex justify-content-between p-0">
                            <small class="text-secondary" style="font-size: 12px;">12:56 - 19/08/24</small>
                            <div class="d-flex align-content-center">
                                <i class='bx bx-heart fw-bold heart-btn'></i>
                                <div class="me-1" style="font-size: 12px;">34</div>
                                <i class='bx bx-reply fw-bold reply-btn'></i>
                                <div style="font-size: 12px;">34</div>
                            </div>
                        </div>
                    </div>
    
                    
                </div>
                
            </div>
        </div>
    </div>
}