.avt {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid;
    object-fit: cover;
}

.avt:hover {
    cursor: pointer;
    border: 2px solid rgb(16, 197, 229);
}

.heart-btn:hover {
    cursor: pointer;
    color: red;
}

.reply-btn:hover {
    cursor: pointer;
    color: rgb(0, 191, 255);
}

#add:hover {
    color: rgb(0, 191, 255);
    cursor: pointer;
}

#typecomment {
    color: rgb(180, 179, 179);
    font-size: 12px; 
    border: 1px solid rgb(180, 179, 179);
    border-radius: 3px;
}

#typecomment:focus {
    color: rgb(0, 0, 0);
}

.table-wrapper {
    position: relative; /* Đảm bảo phần tử cha có vị trí tương đối */
    overflow: hidden; /* Ẩn thanh cuộn mặc định */
    height: auto;
    padding-right: 8px;
}

/* Ẩn thanh cuộn mặc định */
.table-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Hiển thị thanh cuộn khi hover */
.table-wrapper:hover {
    overflow: auto; /* Hiển thị thanh cuộn khi hover */
    
}

.table-wrapper:hover::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;  
}

/* Đảm bảo thanh cuộn không ảnh hưởng đến bố cục */
.table-wrapper::-webkit-scrollbar-track {
    background: transparent;
}