.avt {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid;
    object-fit: cover;
}

.avt:hover {
    cursor: pointer;
    border: 2px solid rgb(16, 197, 229);
}

.heart-btn:hover {
    cursor: pointer;
    color: red;
}

.reply-btn:hover {
    cursor: pointer;
    color: rgb(0, 191, 255);
}

#add:hover {
    color: rgb(0, 191, 255);
    cursor: pointer;
}

#typecomment {
    color: rgb(180, 179, 179);
    font-size: 12px; 
    border: 1px solid rgb(180, 179, 179);
    border-radius: 3px;
}

#typecomment:focus {
    color: rgb(0, 0, 0);
}
