<div class="p-2">
    <!-- Func of users -->
    <div class="d-flex" style="height: 26px;">
        <a class="btn btn-sm btn-outline-dark" [routerLink]="['create']"><i class='bx bx-plus fw-bold'></i> Tạo mới</a>
        <a class="btn btn-sm btn-outline-dark ms-2" [routerLink]="['my-tests']"><i class='bx bxs-cylinder fw-bold'></i> Đã tạo</a>
        <a class="btn btn-sm btn-outline-dark ms-2" [routerLink]="['saved']"><i class='bx bx-bookmark fw-bold'></i> Đã lưu</a>
        <a class="btn btn-sm btn-outline-dark ms-2" [routerLink]="['history']"><i class='bx bx-history fw-bold' ></i> Lịch sử làm đề</a>
    </div>

    <!-- List control -->
    <div class="d-flex small-size justify-items-center mt-2" style="height: 26px;">
        <!-- Cate -->
        <h6 class="mt-1 me-1">Danh mục</h6>
        <select class="form-select w-auto py-0" [(ngModel)]="cateSlug" (change)="search(); updateBreadcrumb()">
            <option value="">Tất cả</option>
            @for (item of categories; track $index) {
                <option [value]="item.slug" [title]="item.description">{{item.name}}</option>
            }
        </select>
        <div class="flex-fill"></div>
        <!-- Search by name -->
        @if(key) {
            <div class="d-flex align-items-center me-2 cancel-btn pe-2" (click)="key = ''; search()">
                <i class='bx bx-x fw-bolder fs-4'></i>
                <span class="">Hủy tìm kiếm</span>
            </div>
        }
        <input type="text" class="form-control w-auto" placeholder="Tìm kiếm theo tên" [(ngModel)]="key">
        <button class="btn btn-outline-dark px-2 ms-1 me-3" (click)="paging.page= 1; search()">
            <i class='bx bx-search fs-6'></i>
        </button>

        <!-- Paging -->
        <div class="d-flex align-items-center mx-3">
            <i class='bx bxs-chevrons-left paging-btn' (click)="paging.start()" style="font-size: large;"></i>
            <i class='bx bxs-chevron-left paging-btn' (click)="paging.prev()" style="font-size: large;"></i>
            <span class="mx-2">Trang {{paging.page}}/{{paging.total}}</span>
            <i class='bx bxs-chevron-right paging-btn' (click)="paging.next()" style="font-size: large;"></i>
            <i class='bx bxs-chevrons-right paging-btn' (click)="paging.end()" style="font-size: large;"></i>
        </div>
    </div>

    <!-- List test -->
    <div class="card card-body mt-2 pt-2">
        <div class="row">
            @if(list.length == 0) {
                <div class="text-secondary fst-italic text-center my-5"> --- Danh sách trống ---</div>
            }
            @for (item of list; track $index) {
                <div class="col-6 col-md-4 col-lg-3 p-1">
                    <div class="d-flex flex-column position-relative list-item" [title]="item.name" (click)="navigate(item.id)">
                        <img [src]="item.imageUrl || defaultImageUrl" alt="" class="test-img">

                        <!-- Name -->
                        <div class="mt-1 text-ellipsis-2lines">
                            <a class="fs-6 fw-bold text-decoration-none text-dark">{{item.name}}</a>
                        </div>

                        <!-- Attempts and Questions count -->
                        <div class="d-flex flex-row align-items-center">
                            <small class="text-secondary" style="opacity: 0.6;">{{item.numberOfAttempts}} lượt làm</small>
                            <div class="bullet mx-2"></div>
                            <small class="text-secondary" style="opacity: 0.6;">{{item.numberOfQuestions}} câu hỏi</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

