<div class="container-xxl">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 mt-5">
            <div class="authentication-wrapper authentication-basic container-p-y">
                <div class="authentication-inner">
                  <!-- Register -->
                  <div class="card">
                    <div class="card-body">
                      <!-- Logo -->
                      <div class="app-brand justify-content-center">
                        <h3 class="text-dark">Đăng nhập</h3>
                      </div>
          
                      <form id="formAuthentication" class="mt-4 mb-3" action="index.html">
                        <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input [(ngModel)]="userName" type="text" class="form-control" name="username" placeholder="Enter your email">
                        </div>
                        <div class="mb-3 form-password-toggle">
                          <div class="d-flex justify-content-between">
                            <label class="form-label" for="password">Password</label>
                            <a href="#"><small>Forgot Password?</small></a>
                          </div>
                          <div class="input-group input-group-merge">
                            <input [(ngModel)]="password" #inputPass type="password" class="form-control" name="password" placeholder="············">
                            <span class="input-group-text cursor-pointer">
                                <i [ngClass]="{'bx bx-hide': showPassword, 'bx bx-show': !showPassword}" (click)="showPass()"></i>
                            </span>
                        </div>
                        </div>
                        <div class="mb-3">
                          <div class="form-check">
                            <input [(ngModel)]="remember" class="form-check-input" type="checkbox" name="remeber">
                            <label class="form-check-label" for="remember-me"> Remember Me </label>
                          </div>
                        </div>
                        <div class="mb-3">
                          <button (click)="login()" class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                        </div>
                      </form>
          
                      <p class="text-center">
                        <span>New on our platform?</span>
                        <a href="#">
                          <span>Create an account</span>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
