@if (!loading) {
    <div class="mx-2 mx-lg-5">
        
        <div class="row mt-4 mx-0 mx-sm-5">
            <div class="d-flex col-12 pt-4 mb-3 flex-row-reverse">
                @if (!updating) {
                    <button (click)="updating = true" class="btn btn-sm btn-outline-dark me-2" style="width: 100px;">Cập nhật</button>
                }
                @else {
                    <button (click)="reset()" class="btn btn-sm btn-outline-danger me-2" style="width: 100px;">Hủy</button>
                    <button (click)="save()" class="btn btn-sm btn-outline-success me-2" style="width: 100px;">Lưu</button>
                }
            </div>
            
            <div class="col-12">
                <div class="card mt-4 mt-lg-0 shadow-sm">
                    <div class="card-header fw-bold text-center">
                        Thông tin cơ bản
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3 position-relative text-center align-content-center mb-3 mb-sm-0">
                                <img src="assets\images\avt.png" alt="" id="avt">
                                @if(updating) {
                                    <label class="btn position-absolute" id="changeAvtBtn">
                                        <input type="file" accept="image/jpeg, image/png" (click)="changeAvatar()" hidden>
                                        <i class='bx bx-upload'></i>
                                    </label>
                                }
                            </div>
                            <div class="col-sm-9">
                                <form action="" >
                                    <div class="row mb-3">
                                        <label class="col-lg-2 col-form-label">Họ đệm</label>
                                        <div class="col-lg-4 mb-3 mb-lg-0">
                                            <input [disabled]="!updating" type="text" [(ngModel)]="editingData!.lastName" name="lastName" class="form-control" placeholder="">
                                        </div>
                                        <label class="col-lg-2 col-form-label">Tên</label>
                                        <div class="col-lg-4">
                                            <input [disabled]="!updating" type="text" [(ngModel)]="editingData!.firstName" name="firstName" class="form-control" placeholder="">
                                        </div>
                                    </div>
                
                                    <div class="row mb-3">
                                        <label class="col-lg-2 col-form-label">Ngày sinh</label>
                                        <div class="col-lg-4 mb-3 mb-lg-0">
                                            <input [disabled]="!updating" [(ngModel)]="editingData!.dayOfBirth" type="date" class="form-control" name="dob">
                                        </div>
                                        <label class="col-lg-2 col-form-label">Giới tính</label>
                                        <div class="col-lg-4">
                                            <select [disabled]="!updating" [(ngModel)]="editingData!.gender" name="gender" class="form-select">
                                                <option [ngValue]="null">--</option>
                                                <option [ngValue]="0">Nam</option>
                                                <option [ngValue]="1">Nữ</option>
                                                <option [ngValue]="2">Khác</option>
                                            </select>
                                        </div>
                                    </div>
                
                                    <div class="row mb-3">
                                        <label class="col-lg-2 col-form-label">Email</label>
                                        <div class="col-lg-4 mb-3 mb-lg-0">
                                            <input [disabled]="!updating" [(ngModel)]="editingData!.email" name="email" type="email" class="form-control" placeholder="test@gmail.com">
                                        </div>
                                        <label class="col-lg-2 col-form-label">SĐT</label>
                                        <div class="col-lg-4">
                                            <input [disabled]="!updating" [(ngModel)]="editingData!.phoneNum" name="phone" type="number" class="form-control">
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <label class="col-lg-2 col-form-label">Địa chỉ</label>
                                        <div class="col-lg-10">
                                            <input [disabled]="!updating" [(ngModel)]="editingData!.address" name="address" type="text" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-12 text-start mt-5 mb-5">
                <div class="card shadow-sm">
                    <div class="card-header text-center fw-bold">Thông tin khác</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 d-flex flex-column">
                                <label class="w-100 mx-2">Mô tả về bạn</label>
                                <textarea [disabled]="!updating" [(ngModel)]="editingData!.intro" name="description" class="form-control mt-2 mx-2"></textarea>
                            </div>
                            <div class="col-lg-6 d-flex flex-column">
                                <label class="w-100 mx-2 d-flex justify-content-between align-items-center pe-4 fs-6">
                                    Liên kết
                                    @if (updating) {
                                        <i class='bx bx-plus-medical btn p-0' id="add-link-btn" (click)="addLinkPopup.hidden = false"></i>
                                    }
                                </label>
                                <div class="d-flex mt-1 flex-wrap">
                                    @for (item of editingData!.socialLinks; track $index) {
                                        <div class="d-flex m-1 align-items-center px-2 link-btn">
                                            <a [class.disableLink]="updating" [href]="item.url" class="link-info text-decoration-none">{{item.name}}</a>
                                            @if (updating) {
                                                <i class='bx bx-x fw-bolder fs-6 ms-1' (click)="removeLink(item)"></i>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Popup thêm link-->
    <div #addLinkPopup [hidden]="true" class="position-absolute top-50 start-50 translate-middle text-center align-content-center" id="addLinkPopupBg">
        <div class="card start-50 translate-middle-x" style="width: 400px;">
            <div class="card-header d-flex justify-content-between">
                Thêm liên kết
                <button class="btn btn-close" (click)="addLinkPopup.hidden = true"></button>
            </div>
            <div class="card-body">
                <form (ngSubmit)="addLink(linkName.value, linkUrl.value); addLinkPopup.hidden = true;">
                    <input #linkName type="text" class="form-control mb-2" placeholder="Tên liên kết">
                    <input #linkUrl type="text" class="form-control mb-3" placeholder="Liên kết (VD: https://www.facebook.com)">
                    <button type="submit" class="btn btn-outline-success">Thêm</button>
                </form>
            </div>
        </div>
    </div>
}


