#test-header {
    position: fixed;
    top: 70px; 
    left: 15%; 
    right: 15%;
}

#selected-table {
    position: fixed;
    left: 0%;
    top: 150px;
    width: 15%;
}


.answer:hover {
    opacity: 60%;
    background-color: rgb(80, 35, 205);
    color: #fff;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal .modal-dialog {
    top: 20%;
}

.list-group .correct {
    background-color: rgb(13, 184, 62);
    color: #fff;
}

.list-group .wrong {
    background-color: rgb(177, 34, 12);
    color: #fff;
}

.card .unselected {
    opacity: 0.4;
}

#content {
    margin-top: 200px;
    width: 100%;
}

@media (max-width: 992px) {
    #test-header {
        top: 60px;
        left: 0%;
        right: 0%;
        border-radius: 0%;
        width: 100%;
    }

    #selected-table {
        top: 110px;
        left: 0%;
        right: 0%;
        width: 100%;
    }

    #content {
        margin-top: 250px;
    }  
}

@media (max-width: 576px) {
    #test-header {
        top: 50px;
        left: 0%;
        right: 0%;
        border-radius: 0%;
        width: 100%;
        margin-left: 2px;
    }

    #selected-table {
        top: 100px;
        left: 0%;
        right: 0%;
        width: 100%;
    }

    #content {
        margin-top: 250px;
    }
}