<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">CodeAndLife</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav ms-3 me-auto">
                <li class="nav-link">Trang chủ</li>
            </ul>
            @if (!user) {
                <div class="d-flex end-0">
                    <a href="user/login" class="btn btn-sm btn-light me-1">
                        Đăng nhập
                    </a>
                    <a href="user/register" class="btn btn-sm btn-outline-light">
                        Đăng kí
                    </a>
                </div>
            }
            @else {
                <div class="d-flex end-0">
                    <a href="user/logout" class="btn btn-sm btn-outline-light me-1">
                        Đăng xuất
                    </a>
                </div>
            }
            
        </div>
        
        
    </div>
</nav>