@if (show) {
    <div class="w-100 h-100 position-absolute top-0 start-0" style="background-color: rgba(128, 128, 128, 0.524);">
        <div class="card card-body text-center position-fixed top-0 p-2 shadow-sm start-50 translate-middle-x" style="width: 250px; margin-top: 80px;">
            <span class="btn btn-close position-absolute top-0 end-0 m-1" id="close-btn" (click)="show = false"></span>
            <div class="d-flex flex-column px-1">
                <!-- Name -->
                 @if (userInfo!.lastName && userInfo!.firstName) {
                     <h6 class="fw-bold text-center">{{(userInfo!.lastName + ' ' + userInfo!.firstName) || '---'}}</h6>
                 } @else {
                    <h6 class="fw-bold text-center">---</h6>
                 }
                <hr class="m-0 w-100">
                <div class="d-flex mt-2" style="font-size: 12px;">
                    <img [src]="userInfo!.imageUrl || defaultImageUrl" alt="" width="100px" height="100px" style="border-radius: 50%; border: 1px solid black; object-fit: cover;">
    
                    <div class="d-flex flex-column ms-2 text-ellipsis">
                        <!-- Username -->
                        <div class="text-start ">
                            <i class='bx bxs-user mt-1 '></i>
                            {{userInfo!.username}}
                        </div>
    
                        <!-- DOB -->
                        <div class="text-start mt-1">
                            <i class='bx bxs-cake'></i>
                            {{(userInfo!.dayOfBirth | date: 'dd/MM/yyyy') || '---'}}
                        </div>
    
                        <!-- Gender and likes -->
                        <div class="d-flex mt-1">
                            <div class="text-start">
                                <i class='bx bx-male-female'></i>
                                @if(userInfo!.gender == 0) {
                                    <i class='bx bx-male-sign text-info ms-2'></i>
                                } @else if (userInfo!.gender == 1) {
                                    <i class='bx bx-female-sign ms-2' style="color: pink;"></i>
                                } @else {
                                    ---
                                }
                            </div>
        
                            <div class="text-start ms-2">
                                <i class='bx bxs-like'></i>
                                {{userInfo!.likes}}
                            </div>
                        </div>
    
    
                        <div class="text-start mt-1 text-wrap">
                            <i class='bx bxs-map mt-1'></i>
                            {{userInfo!.address || "---"}}
                        </div>
                    </div>
                </div>
    
                <!-- <div class="d-flex justify-content-center my-1">
                    <i class='bx bxs-user-check text-secondary fs-5'></i>
                    <small class="text-secondary ms-1">Bạn bè</small>
                </div> -->
                
                @if (!isYourself) {
                    <div class="d-flex mt-2 justify-content-center" style="height: 25px;">
                        <button class="btn btn-outline-dark p-1 d-flex justify-content-center" style="width: 100px;">
                            <i class='bx bxs-user-plus fs-5 me-1'></i>
                            <div style="font-size: 12px;">Kết bạn</div>
                        </button>
                        <button class="btn btn-outline-dark p-1 ms-2 d-flex justify-content-center" style="width: 100px;">
                            <i class='bx bxl-messenger fs-5 me-1'></i>
                            <div style="font-size: 12px;">Nhắn tin</div>
                        </button>
                    </div>
                }
    
    
                <ul class="nav nav-tabs nav-fill mt-2" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#introduction"
                        >
                            Giới thiệu
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a type="button" class="nav-link " role="tab" data-bs-toggle="tab" data-bs-target="#social"
                        >
                            Mạng xã hội
                        </a>
                    </li>
                </ul>
    
                <!-- Tab content -->
                <div class="tab-content">
                    <div class="tab-pane fade active show pt-2" id="introduction" role="tabpanel">
                        <p class="mb-0">{{userInfo!.intro || '--'}}</p> 
                    </div>
    
                    <div class="tab-pane fade pt-2" id="social" role="tabpanel">
                        <div class="d-flex">
                            @for (item of userInfo!.socialLinks; track $index) {
                                <a class="link-info" [href]="item.url">{{item.name}}</a>
                            }
                        </div>
                    </div>
                </div>
    
                @if(!isYourself && !userInfo!.isLiked) {
                    <button class="btn btn-sm col-12 btn-outline-dark d-flex justify-content-center mt-2"
                    (click)="likeUser(userInfo!.id)">
                        <div>Thích</div>
                        <i class='bx bx-like ms-2 mt-1'></i>
                    </button>
                }
            </div>
        </div>
    </div>
}
